body {
	background-color: #efefef;
}

#main{
	background-color: white;
}

#main .jumbotron {
	background-color: white;
}

.navbar-default, 
.footer{
  background-color: #bf0418;
  border-color: #8e000f;
}

.navbar-default .navbar-brand, 
.footer, 
.text-muted{
  color: #ecf0f1;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
  color: #c4c4c4;
}

.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
  color: #c4c4c4;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #c4c4c4;
  background-color: #8e000f;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  color: #c4c4c4;
  background-color: #8e000f;
}

.navbar-default .navbar-toggle {
  border-color: #8e000f;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #8e000f;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}

.navbar-default .navbar-link {
  color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
  color: #c4c4c4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c4c4c4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c4c4c4;
    background-color: #8e000f;
  }
}

