body {
}

header {
	margin: 5px;
    background-color: white;
    width: 100%; 
    /* border: solid blue 1px; */
}

a {
	text-decoration: none;
}

.banner {
	margin: 0 auto;
	overflow: auto;
	width: 700px;
	/* border: solid red 1px; */
}

.banner img{
	float: left;
  	width: 25%;	
}

.banner div{
	/* border: solid purple 1px; */
  	margin: 1px 0 0 26%;	
  	font-size: 1.9em;
  	color: black;
}

.wrapper {
	position: relative;
	border: solid purple 1px;
	width: 100%;
	
    /* background-color: yellow; */
}

.front-page {
	position: absolute;
	bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    max-height: 700px;
    min-height: 600px;
    background: url("../images/background.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    /* background-color: red; */
    /* border: solid black 10px; */
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -228px 0 0 -418px;
	/* background-color: #C0C0C0; */
	height: 410px;
	width: 838px;
}

.front-welcome {
	float: left;
	/* background-color: teal; */
	height: 410px;
	width: 520px;
}

.front-welcome-text {
	position: absolute;
	/* border: 2px solid green; */
	width: 470px;
    height: 328px;
    color: white;
    font-size: 16px;
    left: 0;
    top: 0;
    margin-top: -10px;
    line-height: 22px;
    text-align: left;
    text-shadow: #000 0 1px 2px;
    
}
.front-information-text {
	position: absolute;
	text-align: center;
    bottom: 0;
    left: 0;
}

.front-signin {
	border: 2px solid groove;
	float: right;
	background-color: white;
    margin-bottom: 11px;
    width: 300px;
    height: 175px;
    font-size: 14px;
    line-height: 18px;
  	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;
  	-webkit-border-radius: 9px;
  	border-radius: 9px;
  	-o-text-overflow: ellipsis;
  	text-overflow: ellipsis;
}

.front-register {
	border: 2px solid ridge;
	float: right;
	background-color: white;
    margin-bottom: 11px;
    margin-top: 20px;
    width: 300px;
    height: 110px;
    font-size: 16px;
    line-height: 18px;
  	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;
  	-webkit-border-radius: 9px;
  	border-radius: 9px;
  	-o-text-overflow: ellipsis;
  	text-overflow: ellipsis;
}

.loginform {
	margin: 12px 12px 6px;
}

.text-field {
	border: 2px solid #ccd6dd;
	border-radius: 3px;
	margin: 1px;
	height: 30px;
	font-size: 16px;
	width: 266px;
}

.username {
	position: relative;
	height: 40px;
	/* border: 2px solid purple; */
}

.password {
    position: relative;
	height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 2px solid green; */
} 
 
.loginbutton {
	float: right;
	margin-top: 10px;
}

.rememberforgot {
	margin-top: 30px;
}

.passwordrecover{
	margin-top: 4px;
}

.text-field:focus {
	border: 2px solid #0080ff;
	border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.register-button {
	float: right;
	margin: 2px 12px 6px;
	
}

.text-register {
	margin: 12px 12px 6px;
}













